.user-profile-img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin-top: 50px;
    z-index: -10 !important;
    position: relative;
}
.user-information-container{
    padding: 20px 25px;
    background-color: #F1F0F2;
    border-radius: 0px 50px 0px 0px;
    width: 100vw;
    margin-top: -70px;
    z-index: 100 !important;
}
.user-name{
    font-size:18px;
    color:#374750;
}
.user-phone{
    font-size: 14px;
    color: #374750;
}
.edit-btn{
    background-color: #E87642;
    color:#fff;
    border:none;
    padding: 10px 25px;
    font-size: 14px;
    border-radius: 0px 30px 0px 30px;
    white-space: nowrap;
}
.plan-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.user-plan-title{
    font-size: 16px;
    color: #374750;
}
.plan-btn{
    font-size: 12px;
    background-color: #F1F0F2;
    color: #374750;
    border-radius: 8px;
    border: 1px solid #8A56AC;
    padding: 5px 15px;
    white-space: nowrap;
}
.details-container{
    background-color: #a86fce;
    padding: 15px 20px;
    border-radius: 50px;
    margin-top:10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
}
.details-container::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  transform: translate(135px, -14px) skew(-150deg);
  background-color: #F1F0F2;
  transition: all 1s;
}
.details-container::before{
  content: "";
  position: absolute;
  width: 3px;
  height: 28px;
  transform: translate(135px, 14.2px) skew(150deg);
  background-color: #F1F0F2;
  transition: all 1s;
}

.left-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.currency{
    font-size: 12px;
    color: #fff;
    padding-left: 10px;
}

.right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.profile-settins-tab-container{
    background-color: #fff;
    padding: 20px;
    margin-top:10px;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 100px;
}
.divider{
    width: 95%;
    margin-right: 25%;
    margin-left: 3%;
   
}
.icon-title{
    font-size: 10px;
    color: #9599B3;
    padding-top:8px;
}